<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Responsive Dashboard</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.2.1/dist/chartjs-plugin-zoom.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.min.css"
    integrity="sha512-3M00D/rn8n+2ZVXBO9Hib0GKNpkm8MSUU/e2VNthDyBYxKWG+BftNYYcuEjXlyrSO637tidzMBXfE7sQm0INUg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>

<body>
  <div class="container">
    <div class="charts">
      <!-- <h1>ROOM</h1> -->
      <div class="chart">
        <canvas id="temperature_chart"></canvas>
      </div>
      <div class="chart">
        <canvas id="humidity_chart"></canvas>
      </div>
      <!-- <div class="chart">
        <canvas id="smoke_chart"></canvas>
      </div>
      <div class="chart">
        <canvas id="gas_chart"></canvas>
      </div>

      <h1>OUTDOOR</h1>
      <div class="chart">
        <canvas id="light_chart"></canvas>
      </div> -->
    </div>

    <i class="fas fa-cog settings-icon" onclick="toggleSettings()"></i>
    <div class="settings" id="settingsPanel">
      <i class="fa fa-angle-left back-icon" onclick="toggleSettings()"></i>
      <!-- <h2>Control Panel</h2> -->
      <div class="device" id="device-1">
        <div class="device-row">
          <div class="device-name">Quạt</div>
          <div class="status">Status: <span class="status-value"></span></div>
        </div>
        <div class="device-row">
          <div class="controls">
            <label><input type="radio" name="mode-1" value="manual" onchange="toggleMode(1)" checked> Manual</label>
            <label><input type="radio" name="mode-1" value="auto" onchange="toggleMode(1)"> Auto</label>
          </div>
        </div>
        <div class="device-row">
          <div class="control manual">
            <label class="switch">
              <input type="checkbox">
              <span class="slider"></span>
            </label>
          </div>
          <div class="control auto">
            <input type="number" placeholder="Min" id="min-1">
            <input type="number" placeholder="Max" id="max-1">
          </div>
          <button class="save-button" onclick="saveSettings(1)">Save</button>
        </div>
      </div>

      <div class="device" id="device-2">
        <div class="device-row">
          <div class="device-name">Máy phun sương</div>
          <div class="status">Status: <span class="status-value"></span></div>
        </div>
        <div class="device-row">
          <div class="controls">
            <label><input type="radio" name="mode-2" value="manual" onchange="toggleMode(2)" checked> Manual</label>
            <label><input type="radio" name="mode-2" value="auto" onchange="toggleMode(2)"> Auto</label>
          </div>
        </div>
        <div class="device-row">
          <div class="control manual">
            <label class="switch">
              <input type="checkbox">
              <span class="slider"></span>
            </label>
          </div>
          <div class="control auto">
            <input type="number" placeholder="Min" id="min-2">
            <input type="number" placeholder="Max" id="max-2">
          </div>
          <button class="save-button" onclick="saveSettings(2)">Save</button>
        </div>
      </div>

      <div class="device" id="device-3">
        <div class="device-row">
          <div class="device-name">Điều hoà</div>
          <div class="status">Status: <span class="status-value"></span></div>
        </div>
        <div class="device-row">
          <div class="controls">
            <label><input type="radio" name="mode-3" value="manual" onchange="toggleMode(3)" checked> Manual</label>
            <label><input type="radio" name="mode-3" value="auto" onchange="toggleMode(3)"> Auto</label>
          </div>
        </div>
        <div class="device-row">
          <div class="control manual">
            <label class="switch">
              <input type="checkbox">
              <span class="slider"></span>
            </label>
          </div>
          <div class="control auto">
            <input type="number" placeholder="Min" id="min-3">
            <input type="number" placeholder="Max" id="max-3">
          </div>
          <button class="save-button" onclick="saveSettings(3)">Save</button>
        </div>
      </div>

    </div>
  </div>

  <script src="{{url_for('static', filename='chart-gas.js')}}"></script>
  <script src="{{url_for('static', filename='chart-humidity.js')}}"></script>
  <script src="{{url_for('static', filename='chart-light.js')}}"></script>
  <script src="{{url_for('static', filename='chart-smoke.js')}}"></script>
  <script src="{{url_for('static', filename='chart-temperature.js')}}"></script>

  <script>

    var maxDataPoints = (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1) ? 5 : 9;

    function toggleSettings() {
      var panel = document.getElementById("settingsPanel");
      panel.style.display =
        panel.style.display === "none" || panel.style.display === ""
          ? "block"
          : "none";
    }

    function toggleMode(deviceId) {
      const auto = document.querySelector(`#device-${deviceId} .auto`);
      const manual = document.querySelector(`#device-${deviceId} .manual`);
      const selectedMode = document.querySelector(`input[name="mode-${deviceId}"]:checked`).value;

      if (selectedMode === 'auto') {
        auto.style.display = 'flex';
        manual.style.display = 'none';
      } else {
        auto.style.display = 'none';
        manual.style.display = 'flex';
      }
    }

    function fetchData() {
      fetch("/data")
        .then((response) => response.json())
        .then((data) => {
          if (data !== null) {
            let [datePart, timePart] = data.timestamp.split(" ");

            // updateChartGas(data.room_data.gas.value, timePart)
            updateChartTemp(data.room_data.temperature.value, timePart)
            // updateChartSmoke(data.room_data.smoke.value, timePart)
            updateChartHumidity(data.room_data.humidity.value, timePart)
            // updateChartLight(data.outdoor_data.light.value, timePart)
          }
        });
    }

    function fetchActuator() {
      fetch("/actuator")
        .then((response) => response.json())
        .then((data) => {
          if (data !== null) {
            for (let key in data) {
              let item = data[key];
              toggleStatus(item.deviceId, item.status)
            }
          }
        })
    }

    function fetchSettings() {
      fetch("/se")
        .then((response) => response.json())
        .then((data) => {
          if (data !== null) {
            for (let key in data) {
              let item = data[key];
              let deviceId = parseInt(data[key].deviceId, 10);

              loadSetting(deviceId, item["mode"], item["turnOn"], item["max"], item["min"]);
            }
          }
        })
    }

    function loadSetting(deviceId, mode, turnOn, max, min) {
      // console.log("loadSetting("+deviceId+", "+mode+", "+turnOn+", "+max+", "+min+")");
      const modeRadio = document.querySelector(`input[name="mode-${deviceId}"][value=${mode}]`);
      const auto = document.querySelector(`#device-${deviceId} .auto`);
      const manual = document.querySelector(`#device-${deviceId} .manual`);
      const checkbox = document.querySelector(`#device-${deviceId} .control.manual input[type="checkbox"]`);
      const minInput = document.getElementById(`min-${deviceId}`);
      const maxInput = document.getElementById(`max-${deviceId}`);

      if (mode === "auto") {
        auto.style.display = 'flex';
        manual.style.display = 'none';
        modeRadio.checked = true;
        minInput.value = min;
        maxInput.value = max;
      } else {
        auto.style.display = 'none';
        manual.style.display = 'flex';
        checkbox.checked = turnOn;
      }
    }

    function toggleStatus(deviceId, isOn) {
      const status = document.querySelector(`#device-${deviceId} .status-value`);
      status.textContent = isOn ? 'ON' : 'OFF';
    }

    function saveSettings(deviceId) {
      const selectedMode = document.querySelector(`input[name="mode-${deviceId}"]:checked`).value;
      const isChecked = document.querySelector(`#device-${deviceId} .manual input`).checked;
      const minValue = document.querySelector(`#min-${deviceId}`)?.value;
      const maxValue = document.querySelector(`#max-${deviceId}`)?.value;

      const settings = {
        deviceId: `${deviceId}`,
        mode: selectedMode,
        turnOn: isChecked,
        min: minValue,
        max: maxValue,
      };

      fetch("/save-settings", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(settings)
      })
        .then(response => {
          if (response.status === 200) {
            alert('Successfully');
          } else
            alert('Failed to save settings.');
        })
        .catch((error) => {
          alert('Failed to save settings.');
        });

      fetchSettings();
    }

    fetchSettings()
    setInterval(fetchData, 1000); // Lấy dữ liệu mỗi 5 giây
    setInterval(fetchActuator, 1000);
  </script>
</body>

</html>